<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.buaja.hadith">

    <application>
        <activity android:name=".HadithActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "buaja://hadith” -->
                <data
                    android:host="hadith"
                    android:scheme="buaja" />
            </intent-filter>
        </activity>
    </application>

</manifest>